
# -------------------------
# Node.js
# -------------------------
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db


# Build / dist
dist/
build/

# Coverage
coverage/

# Debug / temp
tmp/
temp/
.cache/


# VS Code
.vscode/
.idea/




# -------------------------
# Frontend (Vite)
# -------------------------
multi-agent-ui/node_modules/
multi-agent-ui/dist/

# -------------------------
# Misc
# -------------------------
*.pid
*.seed
*.pid.lock